package templates

import "github.com/labstack/echo/v4"

type MainLayoutConfig struct {
	Title      string
	Controller string
	Attributes templ.Attributes
}

templ AuthedNav(userEmail string) {
	<nav class="bg-primary text-white p-4">
		<div class="container mx-auto flex justify-between items-center">
			<h1 class="text-xl font-bold">
				<a href="/" class="hover:text-blue-200">Maintenance Automatisme</a>
			</h1>
			<div class="dropdown dropdown-end">
				<div tabindex="0" role="button">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu"><path d="M4 5h16"></path><path d="M4 12h16"></path><path d="M4 19h16"></path></svg>
				</div>
				<ul
					tabindex="-1"
					class="menu dropdown-content bg-base-200 rounded-box z-1 w-36 mt-5 p-2 shadow-sm"
				>
					<li><a href="/admin/portals" class="text-base-content">Espace admin</a></li>
					<li>
						<a
							class="text-base-content"
							data-controller="logout"
							data-action="click->logout#logout"
							class="hover:text-blue-200 cursor-pointer"
						>Déconnexion</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
}

templ PublicNav() {
	<nav class="bg-primary text-white p-4">
		<div class="container mx-auto flex justify-between items-center">
			<h1 class="text-xl font-bold">
				<a href="/" class="hover:text-blue-200">Maintenance Automatisme</a>
			</h1>
			<div class="space-x-4">
				<a href="/login" class="hover:text-blue-200">Connexion</a>
			</div>
		</div>
	</nav>
}

templ MainLayout(config MainLayoutConfig, context echo.Context) {
	<!DOCTYPE html>
	<html lang="fr" data-theme="light">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ config.Title } - Maintenance Portails</title>
			<link rel="stylesheet" href="/static/css/output.css"/>
			<script src="/static/js/htmx.min.js"></script>
			<script src="/static/js/html5-qrcode.min.js"></script>
			<script src="/static/js/signature_pad.umd.min.js"></script>
			<script src="/static/js/application.js" type="module"></script>
			<style>
			.htmx-indicator {
				opacity: 0;
				transition: opacity 200ms ease-in;
			}
			.htmx-request .htmx-indicator {
				opacity: 1;
			}
			.htmx-request.htmx-indicator {
				opacity: 1;
			}
		</style>
		</head>
		<body class="bg-gray-50 min-h-screen">
			if context.Get("user_email") != nil && context.Get("user_email") != "" {
				@AuthedNav(context.Get("user_email").(string))
			} else {
				@PublicNav()
			}
			<main
				class="container mx-auto p-4"
				if config.Controller != "" {
					data-controller={ config.Controller }
				}
				{ config.Attributes... }
			>
				{ children... }
			</main>
		</body>
	</html>
}
