package templates

import "time"

templ InputFile(label string, name string, required bool, attributes ...templ.Attributes) {
	<div>
		if label != "" {
			<label for={ name } class="block text-sm font-medium text-gray-700 mb-1">{ label }</label>
		}
		<input
			type="file"
			id={ name }
			name={ name }
			class="input-primary file-input"
			required?={ required }
			if len(attributes) > 0 {
				{ attributes[0]... }
			}
		/>
	</div>
}

templ InputText(label string, placeholder string, name string, required bool, attributes ...templ.Attributes) {
	<div>
		if label != "" {
			<label for={ name } class="block text-sm font-medium text-gray-700 mb-1">{ label }</label>
		}
		<input
			type="text"
			id={ name }
			name={ name }
			class="input input-primary"
			placeholder={ placeholder }
			required?={ required }
			if len(attributes) > 0 {
				{ attributes[0]... }
			}
		/>
	</div>
}

type InputNumberArgs struct {
	Title         string
	Label         string
	Placeholder   string
	Name          string
	Min           float32
	Max           float32
	Step          float32
	ValidatorHint string
	Required      bool
	Attributes    templ.Attributes
}

templ InputNumber(args *InputNumberArgs) {
	<div>
		if args.Label != "" {
			<label for={ args.Name } class="block text-sm font-medium text-gray-700 mb-1">{ args.Label }</label>
		}
		<input
			name={ args.Name }
			type="number"
			class={ "input input-primary", templ.KV("validator", args.ValidatorHint != "") }
			required={ args.Required }
			placeholder={ args.Placeholder }
			min={ args.Min }
			max={ args.Max }
			if args.Step > 0 {
				step={ args.Step }
			}
			title={ args.Title }
			{ args.Attributes... }
		/>
		if args.ValidatorHint != "" {
			<p class="validator-hint">{ args.ValidatorHint }</p>
		}
	</div>
}

type InputDateArgs struct {
	Title         string
	Label         string
	Name          string
	ValidatorHint string
	Max           time.Time
	Required      bool
	Value         time.Time
	Attributes    templ.Attributes
}

templ InputDate(args *InputDateArgs) {
	<div>
		if args.Label != "" {
			<label for={ args.Name } class="block text-sm font-medium text-gray-700 mb-1">{ args.Label }</label>
		}
		<input
			id={ args.Name }
			name={ args.Name }
			type="date"
			class={ "input input-primary", templ.KV("validator", args.ValidatorHint != "") }
			required={ args.Required }
			title={ args.Title }
			value={ time.Now().Format("2006-01-02") }
			if args.Value.IsZero() != true {
				value={ args.Value.Format("2006-01-02") }
			}
			if args.Max.IsZero() != true {
				max={ args.Max.Format("2006-01-02") }
			}
			{ args.Attributes... }
		/>
		if args.ValidatorHint != "" {
			<p class="validator-hint">{ args.ValidatorHint }</p>
		}
	</div>
}

type TextAreaInputArgs struct {
	Label       string
	Placeholder string
	Hint        string
	Name        string
	Required    bool
}

templ TextAreaInput(args *TextAreaInputArgs) {
	<fieldset class="fieldset">
		if args.Label != "" {
			<legend class="fieldset-legend text-sm font-medium text-gray-700">{ args.Label }</legend>
		}
		<textarea
			class="textarea textarea-primary h-24 w-full"
			name={ args.Name }
			required={ args.Required }
			placeholder={ args.Placeholder }
		></textarea>
		if args.Hint != "" {
			<div class="label">{ args.Hint }</div>
		}
	</fieldset>
}
