package templates

import (
	"fmt"
	"github.com/troptropcontent/qr_code_maintenance/internal/models"
	"github.com/troptropcontent/qr_code_maintenance/internal/services/translation"
)

type InterventionReportConfig struct {
	Intervention   *models.Intervention
	StylesheetPath string
	LogoPath       string
	Translator     translation.TranslatorService
}

func findControlResult(intervention *models.Intervention, controlKey string) string {
	var result = "na"
	for _, control := range intervention.Controls {
		if control.Kind == controlKey {
			if *control.Result {
				result = "passed"
			} else {
				result = "fail"
			}
		}
	}
	return result
}

templ controleTable(title string, intervention *models.Intervention, controls []string, t translation.TranslatorService) {
	<table class="table w-full border-separate border-spacing-0 rounded-lg border border-gray-300">
		<thead class="bg-gray-100">
			<tr>
				<th colspan="2" class="rounded-t-lg border-b border-gray-300 text-sm text-left p-2 font-bold">{ title }</th>
			</tr>
			<tr>
				<th class="text-sm text-left p-2 font-semibold border-r border-b border-gray-300">Contrôle</th>
				<th class="text-sm text-right p-2 font-semibold border-b border-gray-300">Resultat</th>
			</tr>
		</thead>
		<tbody>
			for _, control := range controls {
				<tr class="group">
					<td class="text-sm p-2 border-r border-b group-last:border-b-0 border-gray-200">{ t.MustTranslate(fmt.Sprintf("models.control.kinds.%v", control)) }</td>
					<td class="text-right p-2 border-b group-last:border-b-0 border-gray-200">
						switch findControlResult(intervention, control) {
							case "passed":
								<span class="badge badge-xs badge-outline badge-success">{ t.MustTranslate("views.admin.intervention_report.controls.result.passed") }</span>
							case "fail":
								<span class="badge badge-xs badge-outline badge-error">{ t.MustTranslate("views.admin.intervention_report.controls.result.fail") }</span>
							default:
								<span class="badge badge-xs badge-outline badge-warning">{ t.MustTranslate("views.admin.intervention_report.controls.result.na") }</span>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
}

templ InterventionReportSection(title string) {
	<section class="px-6">
		<h2 class="text-l font-semibold text-primary mb-4">{ title }</h2>
		{ children... }
	</section>
}

templ InterventionReport(config InterventionReportConfig) {
	<!DOCTYPE html>
	<html lang="fr">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Rapport d'Intervention - { config.Intervention.Portal.Name }</title>
			if config.StylesheetPath != "" {
				<link rel="stylesheet" href={ config.StylesheetPath }/>
			} else {
				<link rel="stylesheet" href="/static/css/output.css"/>
			}
		</head>
		<body class="bg-base flex flex-col gap-2">
			<header class="bg-primary text-white px-6 py-2 flex justify-between items-center">
				<h1 class="text-3xl font-bold">Rapport d'Intervention</h1>
				if config.LogoPath != "" {
					<img src={ config.LogoPath } alt="Logo entreprise" class="h-20"/>
				} else {
					<img src="/static/images/logo.png" alt="Logo entreprise" class="h-20"/>
				}
			</header>
			@InterventionReportSection("Informations Générales") {
				<div class="grid grid-cols-2 gap-2">
					<div class="form-control">
						<label class="label">
							<span class="text-sm label-text font-semibold">Numéro de contrat</span>
						</label>
						<div class="bg-base-200 p-3 rounded-lg text-sm">
							<p>{ config.Intervention.Portal.InternalId }</p>
						</div>
					</div>
					<div class="form-control">
						<label class="label">
							<span class="text-sm label-text font-semibold">Adresse</span>
						</label>
						<div class="card card-border p-3 bg-base-200 text-sm">
							<p>{ config.Intervention.Portal.AddressStreet }</p>
							<p>{ config.Intervention.Portal.AddressZipcode }, { config.Intervention.Portal.AddressCity }</p>
						</div>
					</div>
				</div>
			}
			@InterventionReportSection("Contrôles effectués") {
				<div class="grid grid-cols-2 gap-x-4">
					<div>
						@controleTable("Controles de sécurité", config.Intervention, models.ControleTypes.Security, config.Translator)
					</div>
					<div>
						@controleTable("Autres contrôles", config.Intervention, models.ControleTypes.Other, config.Translator)
					</div>
				</div>
			}
			@InterventionReportSection("Résumé") {
				<div>
					<div class="bg-base-200 p-4 rounded-lg">
						<p class="wrap-break-word">{ *config.Intervention.Summary }</p>
					</div>
				</div>
			}
			<section class="px-6 flex-grow">
				<div class="flex flex-col items-end gap-2">
					<p class="text-md font-semibold">{ config.Intervention.UserName }</p>
					<p class="text-sm text-base-content">
						Le { config.Intervention.Date.Format("02/01/2006") }
					</p>
					<img src={ config.Intervention.Signature } alt="Signature" class="h-20"/>
				</div>
			</section>
		</body>
	</html>
}
