package templates

templ SignaturePad(inputName string) {
	<div data-controller="signature-pad" class="space-y-4">
		<canvas
			data-signature-pad-target="canvas"
			class="touch-none cursor-crosshair border border-gray-300 rounded-lg mx-auto"
		></canvas>
		<div class="flex justify-end">
			<button
				type="button"
				data-signature-pad-target="clearButton"
				data-action="click->signature-pad#clear"
				class="btn"
			>
				Effacer la signature
			</button>
		</div>
		<input
			type="hidden"
			name={ inputName }
			data-signature-pad-target="dataInput"
		/>
	</div>
}
